os:
  - linux
  - osx
language: generic
sudo: required
dist: trusty
osx_image: xcode10.2
env:
  - SWIFT_VERSION=5.0.1
install:
  - eval "$(curl -sL https://swiftenv.fuller.li/install.sh)"
script:
  - swift build
